# Manufacturing Process Optimization Project using SQL

In this project, we'll examine a hypothetical dataset using SQL window functions to identify problems in a manufacturing process. 

The approach this project focuses on is the application of Statistical Process Control (SPC) a proven methodology that leverages data to assure process efficiency.

SPC enables us to define "control limits" that guide our process adjustments. For this project, we'll be using two control limits:

**Upper Control Limit** (UCL): Ensures values (in this case we're using height for demonstration purposes) do not exceed what is considered normal variation, which is defined as:

- $ucl = avg\_height + 3 * \frac{stddev\_height}{\sqrt{5}}$

And, **Lower Control Limit** (LCL): Which likewise, ensures values do not fall below the standard of normal variation.

- $lcl = avg\_height - 3 * \frac{stddev\_height}{\sqrt{5}}$


Our SQL code will operate with these limits and allow us to visualize outliers in our dataset. This will ensure the manufacturing process remains efficient and produces products of consistent quality.

## The data
The data is available in the `manufacturing_parts` table which has the following fields:
- `item_no`: the item number
- `length`: the length of the item made
- `width`: the width of the item made
- `height`: the height of the item made
- `operator`: the operating machine

## Setting up the Environment

We start by preparing our workspace, loading necessary libraries, and connecting to the database. It's the foundation for our SQL journey, so it's important to verify our database connection details are all set.

In [1]:
import os
from sqlalchemy import create_engine

# Set your database URL without credentials as an environment variable or directly in code
db_url = os.getenv('DATABASE_URL', 'postgresql://localhost:5432/postgres')

# Access the username and password from environment variables
db_username = os.getenv('DB_USERNAME')
db_password = os.getenv('DB_PASSWORD')

# Combine all parts to form the full database URL
full_db_url = f'{db_url.replace("postgresql://", f"postgresql://{db_username}:{db_password}@")}'

# Create the database engine
engine = create_engine(full_db_url)

## Loading the Data

Next up, we bring our data into the picture by reading it into a pandas DataFrame from a CSV file. This is our first glance at the dataset, preparing us for the deeper dive ahead with SQL.

In [2]:
import pandas as pd

# Load our data into a DataFrame
data_frame = pd.read_csv('manufacturing_parts.csv')

## Creating the Database Table

With our data in a DataFrame, we now transition it to a SQL table. This step bridges our work from pandas to SQL, setting the stage for some serious data analysis.

In [3]:
# Assuming 'manufacturing_parts' is the table name you want to use
data_frame.to_sql('manufacturing_parts', con=engine, if_exists='replace', index=False)

500

## Executing the SQL Query

Here's where the magic happens. Our SQL query calculates control limits to spot any outliers in our manufacturing data. It's a key step in using data to pinpoint where our process might be veering off track.

In [4]:
from sqlalchemy import text

# Your SQL query
query = text("""
SELECT
    b.*,
    CASE
        WHEN b.height NOT BETWEEN b.lcl AND b.ucl THEN TRUE ELSE FALSE END as alert
FROM (
    SELECT
        a.*,
        a.avg_height + 3*a.stddev_height/SQRT(5) AS ucl,
        a.avg_height - 3*a.stddev_height/SQRT(5) AS lcl
    FROM (
        SELECT
            operator,
            ROW_NUMBER() OVER w,
            height,
            AVG(height) OVER w AS avg_height,
            STDDEV(height) OVER w AS stddev_height
        FROM manufacturing_parts
        WINDOW w AS (
            PARTITION BY operator ORDER BY item_no
            ROWS BETWEEN 4 PRECEDING AND CURRENT ROW
        )
    ) AS a
) AS b
""")

# Execute the SQL query
with engine.connect() as connection:
    result = connection.execute(query).fetchall()

## Analyzing the Results

After running our query, we dissect the results to uncover insights. Identifying outliers is more than just numbers; it's about ensuring quality and consistency in what we produce.

In [5]:
column_names = ['Operator', 'Item_No', 'Height', 'Avg_Height', 'Stddev_Height', 'UCL', 'LCL', 'Alert']

# Create the dataframe
df = pd.DataFrame(result, columns=column_names)

filtered_df = df[df['Alert'] == True]
print(filtered_df)

    Operator  Item_No  Height  Avg_Height  Stddev_Height        UCL  \
16      Op-1       17   19.33      20.092       0.456366  20.704279
20      Op-1       21   19.94      19.312       0.417457  19.872077
22      Op-1       23   22.31      20.042       1.342747  21.843484
38     Op-10       13   18.58      20.482       1.231105  22.133701
43     Op-10       18   21.86      20.022       1.161215  21.579933
55     Op-10       30   18.64      20.374       1.248091  22.048489
63     Op-11        8   18.54      20.346       1.163284  21.906709
79     Op-12        8   20.67      19.380       0.849706  20.520000
96     Op-13        5   21.93      20.182       1.186221  21.773482
107    Op-13       16   21.60      20.250       0.970490  21.552048
109    Op-13       18   18.88      20.390       1.043144  21.789525
118    Op-14        6   18.80      20.490       1.202788  22.103710
126    Op-14       14   21.60      19.676       1.163714  21.237286
133    Op-14       21   21.78      20.236       1.045050  21.638082
143    Op-14       31   21.57      20.750       0.597160  21.551174
146    Op-14       34   19.99      20.858       0.614752  21.682776
154    Op-15        7   20.08      21.140       0.780673  22.187382
157    Op-15       10   21.91      20.388       0.990086  21.716340
172    Op-16        6   19.72      21.074       0.891588  22.270191
178    Op-16       12   19.22      20.568       0.939505  21.828478
186    Op-16       20   20.99      20.496       0.311014  20.913270
187    Op-16       21   21.67      20.734       0.608630  21.550562
195    Op-17        4   18.95      20.700       1.170926  22.270961
205    Op-17       14   18.66      20.288       1.125820  21.798446
210    Op-17       19   19.57      21.320       1.001274  22.663350
230    Op-18       16   18.51      20.662       1.308633  22.417715
250    Op-19        7   19.49      20.324       0.617762  21.152815
258    Op-19       15   18.90      20.700       1.158123  22.253786
271     Op-2        7   23.11      20.746       1.561451  22.840907
274     Op-2       10   18.05      21.096       1.873814  23.609986
280     Op-2       16   21.95      19.902       1.201154  21.513517
285     Op-2       21   21.39      19.906       0.948383  21.178389
296    Op-20        7   20.08      19.372       0.483808  20.021096
300    Op-20       11   21.38      20.102       0.745936  21.102778
309    Op-20       20   21.60      20.146       1.075119  21.588423
327     Op-3       17   20.33      21.092       0.456366  21.704279
331     Op-3       21   20.94      20.312       0.417457  20.872077
333     Op-3       23   23.31      21.042       1.342747  22.843484
344     Op-4        5   20.95      19.210       1.156741  20.761931
349     Op-4       10   20.39      18.906       0.948383  20.178389
354     Op-4       15   19.69      19.038       0.483808  19.687096
356     Op-4       17   21.51      19.596       1.200700  21.206908
365     Op-5        5   22.17      20.430       1.156741  21.981931
370     Op-5       10   21.61      20.126       0.948383  21.398389
375     Op-5       15   20.91      20.258       0.483808  20.907096
377     Op-5       17   22.73      20.816       1.200700  22.426908
386     Op-5       26   23.39      21.650       1.156741  23.201931
391     Op-5       31   22.83      21.346       0.948383  22.618389
404     Op-6       11   20.81      20.332       0.291153  20.722623
417     Op-7        6   21.19      19.750       0.997447  21.088215
431     Op-7       20   20.60      19.480       0.760953  20.500926
432     Op-7       21   21.47      19.824       1.184453  21.413111
438     Op-7       27   18.72      20.380       0.996168  21.716499
455     Op-8       11   19.12      20.254       0.781972  21.303125
459     Op-8       15   21.70      19.892       1.215882  21.523277
480     Op-9       16   18.78      19.774       0.698627  20.711307
487     Op-9       23   19.19      20.306       0.796386  21.374463
497     Op-9       33   20.91      19.266       0.952276  20.543613

           LCL  Alert
16   19.479721   True
20   18.751923   True
22   18.240516   True
38   18.830299   True
43   18.464067   True
55   18.699511   True
63   18.785291   True
79   18.240000   True
96   18.590518   True
107  18.947952   True
109  18.990475   True
118  18.876290   True
126  18.114714   True
133  18.833918   True
143  19.948826   True
146  20.033224   True
154  20.092618   True
157  19.059660   True
172  19.877809   True
178  19.307522   True
186  20.078730   True
187  19.917438   True
195  19.129039   True
205  18.777554   True
210  19.976650   True
230  18.906285   True
250  19.495185   True
258  19.146214   True
271  18.651093   True
274  18.582014   True
280  18.290483   True
285  18.633611   True
296  18.722904   True
300  19.101222   True
309  18.703577   True
327  20.479721   True
331  19.751923   True
333  19.240516   True
344  17.658069   True
349  17.633611   True
354  18.388904   True
356  17.985092   True
365  18.878069   True
370  18.853611   True
375  19.608904   True
377  19.205092   True
386  20.098069   True
391  20.073611   True
404  19.941377   True
417  18.411785   True
431  18.459074   True
432  18.234889   True
438  19.043501   True
455  19.204875   True
459  18.260723   True
480  18.836693   True
487  19.237537   True
497  17.988387   True